.bottomBox {
    margin-top: 100px;
    vertical-align: bottom;
    color: #eeeeee;
  }
  
  .bottomDiv {
    padding: 3% 8%;
    /* top/bottom left/right */
    margin: 0;
    height: auto;
    background-color: #222831;
    font-size: 1rem;
    /* (18px font-size / 2560px width */
    text-decoration: none;
    text-align: right;
    color: #eeeeee;
  }