.Page {
    /* Tag Selector */
    background-image: #eeeeee;
    /* Background of website */
    text-align: center;
    /* Aligning all text to the left unless specified  except where necessary */
    font-family: "Work Sans", sans-serif;
    margin: auto;
    max-width: 100%;
  }